.navbar {
  background-color: var(--main-color);
  border-top-right-radius: 70px;
}

.navbar i {
  color: #f4dbd4;
  font-size: 30px;
}
.navbar .logo,
.navbar i {
  transition: all 0.3s;
  opacity: 0.7;
  cursor: pointer;
}
.navbar i:hover,
.navbar .logo:hover {
  opacity: 1;
}
.navbar i.fa-solid.fa-table-cells-large {
  opacity: 1;
}
