<section
  class="navbar position-fixed top-0 start-0 bottom-0 px-3 py-5 z-2 h-100"
>
  <div
    class="inner h-100 d-flex flex-column justify-content-between align-items-between"
  >
    <figure class="logo">
      <img src="./assets/image/PMS.svg" alt="" />
    </figure>
    <ul class="nav-icons text-center">
      <li>
        <i class="fa-solid fa-gauge-high pb-4"></i>
      </li>
      <li>
        <i class="fa-solid fa-table-cells-large pb-4"></i>
      </li>
      <li>
        <i class="fa-solid fa-layer-group pb-4"></i>
      </li>
      <li>
        <i class="fa-solid fa-gear pb-4"></i>
      </li>
      <li>
        <i class="fa-solid fa-bell pb-4"></i>
      </li>
    </ul>
    <section class="text-center">
      <i class="fa-solid fa-right-from-bracket"></i>
    </section>
  </div>
</section>
